{% extends "djresource/plain/base.html" %}

{% block title %}{{ verbose_name_plural|capfirst }}{% endblock %}

{% block content %}
<div class="djr-header">
    <h1>{{ verbose_name_plural|capfirst }}</h1>
    <div>
        {% block list_header_actions %}{% endblock %}
        <a href="{% url url_create %}" class="djr-btn djr-btn--primary">+ Ajouter</a>
    </div>
</div>

{% block list_top %}{% endblock %}

{% include "djresource/plain/list_partial.html" %}

{% block list_bottom %}{% endblock %}
{% endblock %}
